select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}