{% extends 'home.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='exit_btn.css') }}">

<div class="entry-recognition-container">
    <!-- 제목 섹션 -->
    <div class="title-section">
        <h1>입차 인식</h1>
    </div>

    <!-- 비디오 스트리밍 섹션 -->
    <div class="video-section">
        <h2>실시간 비디오 스트리밍</h2>
        <div class="video-container">
            <!-- 4개의 비디오 스트림을 보여주는 그리드 섹션 -->
            <div class="video-grid">
                <img class="video-stream1" src="{{ url_for('entry_video_feed') }}" alt="Live Stream1">
            </div>
        </div>
    </div>

    <!-- OCR 결과 섹션 -->
    <div class="ocr-results-section">
        {% if ocr_results %}
        <h2>인식된 번호판</h2>
        <ul class="ocr-results">
            {% for result in ocr_results %}
            <li>{{ result }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-results">번호판을 인식하지 못했습니다.</p>
        {% endif %}
    </div>

</div>

<!-- 우측 하단 버튼 -->
<button class="list-recognition-btn" onclick="location.href='{{ url_for('entry_recognition_data') }}'">입차 리스트</button>

{% endblock %}
