{% extends 'home.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='exit_btn.css') }}">

<main>

    <div class="video-container" style="display: block;">
        <!-- videoFeed의 src를 동적으로 설정 -->
        <video id="videoFeed" width="auto" height="auto" autoplay></video>
    </div>

    <!-- OCR 결과 섹션 -->
    <div class="ocr-results-section" style="display: none;">
        <h2>인식된 번호판</h2>
        <ul class="ocr-results" id="ocrResults"></ul>
    </div>

    <!-- 버튼 섹션 -->
    <div class="control-buttons">
        <button id="startButton" style="display: block;">웹캠 켜기</button>
        <button id="captureButton" style="display: none;">이미지 캡처 및 OCR</button>
        <button id="stopButton" style="display: none;">웹캠 끄기</button>
    </div>
    <div id="categoryContainer" data-category="{{ category }}"></div>

</main>

<script src="{{ url_for('static', filename='js/webcam.js') }}"></script>


{% endblock %}
