{% extends 'home.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='setting.css') }}">

<div class="setting">
    <h1>10분당 요금 설정</h1>

    <form method="POST" action="{{ url_for('fee_per_10_minutes') }}">
        <div class="form-row">
            <label for="fee_per_10_minutes">10분당 요금 (원):</label>
            <input 
                type="number" 
                id="fee_per_10_minutes" 
                name="fee_per_10_minutes" 
                value="{{ setting.fee_per_10_minutes if setting else 0 }}" 
                min="0" 
                required 
                class="fee_input">
        </div>
        <button type="submit" class="fee_bnt">저장</button>
    </form>

</div>
{% endblock %}
