<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Object Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cam.css') }}"
    />
  </head>
  <body>
    <h1>실시간 스트리밍:</h1>
    <img src="{{ url_for('main.break_frame') }}" alt="Live Stream" />
    <!-- 대시보드로 가는 버튼 추가 -->
    <a href="{{ url_for('main.dashboard') }}">대시보드로 이동</a>
    <a href="{{ url_for('main.home') }}">home으로 이동</a>
    <a href="{{ url_for('main.update_daily_counts_route') }}">update</a>
    <script src="{{ url_for('static', filename='js/cam_control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cam_reload.js') }}"></script>
  </body>
</html>
