{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/cctv_style.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/webcam.css') }}"
/>
<div class="monitoring-container">
  <h1>실시간 모니터링</h1>
  <hr />
  <div id="webcam-container">
    <!-- 각 CCTV의 웹캠 스트리밍 -->
    {% for cctv in cctvs %}
    <div
      id="webcam-{{ cctv.cctv_id }}"
      class="webcam-feed"
      style="display: {% if loop.first %}block{% else %}none{% endif %};"
    >
      <h2>{{ cctv.location }} (CCTV ID: {{ cctv.cctv_id }})</h2>
      <img
        src="{{ url_for('main.video_feed', camera_index=loop.index0) }}"
        id="stream-{{ cctv.cctv_id }}"
        alt="CCTV Stream"
      />
      <button onclick="captureCCTV('{{ cctv.cctv_id }}')" class="captureCCTV">
        캡쳐
      </button>
    </div>
    {% endfor %}
  </div>
</div>

<!-- 버튼 컨테이너 -->
<div class="button-container">
  {% for cctv in cctvs %}
  <button onclick="showCCTV('{{ cctv.cctv_id }}')">{{ cctv.location }}</button>
  {% endfor %}
</div>

<script>
  // JavaScript로 cctvs 데이터 전달
  const cctvsData = {{ cctvs|tojson }};
</script>
<script src="{{ url_for('static', filename='js/cctv.js') }}"></script>
{% endblock %}
